// :root{
//   --c-50: #f0f9ff;
//   --c-100: #e0f2fe;
//   --c-200: #bae6fd;
//   --c-300: #7dd3fc;
//   --c-400: #38bdf8;
//   --c-500: #0ea5e9;
// }

:root {
  --c-50: #f8fafc;
  --c-100: #f1f5f9;
  --c-200: #e2e8f0;
  --c-300: #cbd5e1;
  --c-400: #94a3b8;
  --c-500: #64748b;
  --c-600: #475569;
  --c-700: #334155;
  --c-800: #1e293b;
  --c-900: #0f172a;
  --c-950: #020617;
  --home: rgb(177, 187, 254);
}


.f-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--home);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .f-wrapper {
    background-color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;

    .logo {
      font-weight: bold;
      font-size: x-large;
      color: darkslateblue;
    }

    .title {
      color: darkslateblue;
      font-size: smaller;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        width: 200px;
        border: none;
        border-bottom: 1px solid rgb(227, 237, 255);

        &::placeholder {
          font-family: Arial, Helvetica, sans-serif;
          color: lightgray;
        }
      }

      label {
        display: flex;
        align-items: center;
      }

      button {
        width: 220px;
        padding: 10px 10px;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        border: none;
        cursor: pointer;
      }

      span.error {
        color: red;
        text-align: center;
        font-size: smaller;
      }
    }


  }
}

.button-cust {
  margin-top: 10px;
  margin-bottom: 15px;
}

label {
  display: flex;
  justify-content: center;

  img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  span {
    color: lightblue;
    text-align: right;
  }
}

html,
body {
  background-color: var(--home);
}

.home {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .h-container {
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    background-color: white;
    display: flex;
    overflow: hidden;

    .sidebar {
      border-right: 1px var(--c-50) solid;
      flex: 1;
      background-color: var(--c-500);
      overflow: hidden;
      display: flex;
      flex-direction: column;


      .navbar {
        display: flex;
        background-color: var(--c-500);
        max-height: 30px;
        padding: 10px;
        justify-content: space-between;
        border-radius: 0 0 0 10px;


        .n-userdetail {
          margin-top: auto;
          margin-bottom: auto;
          display: flex;

          .n-username {
            margin: auto;
            color: white;
            font-weight: bold;
            margin-left: 10px;
          }

          .n-profile-pic {
            background-color: white;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        button {
          margin-top: auto;
          margin-bottom: auto;
          background-color: var(--c-50);
          border: none;
          height: 20px;
          border-radius: 2px;
          font-size: 10px;
        }
      }

      .s-container {

        .search {
          form {
            background-color: white;

            input {
              width: 100%;
              height: 100%;
              border: 0px;

            }
          }

          input:focus {
            outline: none !important;
          }
        }

        .s-result {
          display: flex;
          justify-content: center;
          background-color: var(--c-600);
          color: white;
          width: 100%;


          img {
            margin: 10px 10px 10px 10px;
            background-color: white;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          .s-username {
            margin-bottom: 10px;
            margin-top: 10px;
            align-self: center;
            font-weight: bold;
          }
        }

        :hover {
          //background-color: var(--c-100);
          cursor: pointer;
        }
      }


      .friends-cont {
        margin: 10px 0px 10px 0px;
        display: flex;
        flex-direction: column;

        .friend {
          margin: 10px;
          display: flex;
          gap: 10px;

          img {
            margin-top: auto;
            margin-bottom: auto;
            background-color: white;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          .f-message-disp {
            .f-username {
              font-weight: bold;
              color: white;
            }

            .f-last-message {
              font-size: small;
              color: white;
            }
          }
        }

        :hover {
          background-color: var(--c-700);
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }

    .chats {
      flex: 3;
      background-color: var(--c-200);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .c-nav {
        display: flex;
        background-color: var(--c-700);
        height: 30px;
        padding: 10px;
        justify-content: space-between;

        .c-icons {
          display: flex;
          justify-content: right;
          width: 100%;

          img {
            height: 24px;
            width: 24px;
            margin-left: 5px;
          }
        }
      }

      .messages-container {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        max-height: 100%;
        //flex-direction: row-reverse;

        .message-container {
          // align-items: center;
          margin: 20px 10px 20px 20px;
          display: flex;

          //gap: 20px;

          //align-self: flex-start;

          .message-header {
            justify-content: flex-start;
            display: flex;
            flex-direction: column;
            margin-right: 10px;

            .m-pfp {
              margin-top: 10px;
              height: 35px;
              width: 35px;
              border-radius: 50%;
              align-self: center;
              object-fit: cover;
            }

            span {
              color: white;
              font-size: small;
            }
          }

          .message-content {
            max-width: 50%;
            display: flex;
            flex-direction: column;

            img {
              border-radius: 10px;
            }
          }

          &.user {
            flex-direction: row-reverse;

            .message-content {
              p {
                align-self: flex-end;
                background-color: var(--c-500);
                color: white;
                border-radius: 10px 1px 10px 10px;
                padding: 10px 10px;
                font-size: smaller;
                width: max-content;
              }
            }

          }

          &.friend {
            flex-direction: row;

            p {
              color: black;
              background-color: white;
              padding: 10px 10px;
              border-radius: 1px 10px 10px 10px;
              font-size: smaller;
              width: max-content;
            }


          }
        }


      }

      .typefield-cont {
        background-color: white;
        margin-top: auto;
        height: 50px;
        padding: 10px;
        display: flex;
        border-radius: 10px 10px 10px 0px;

        input {
          flex: 3;
          border: none;
        }

        :focus {
          outline: none !important;
        }

        .send {
          flex: 1;
          display: flex;
          justify-content: right;
          maximum-width: 10px;


          img {
            flex: 1;
            margin: auto;
            margin-right: 10px;
          }

          button {
            height: 100%;
            flex: 1;
            background-color: var(--c-300);
            border: none;
            margin-right: 0px;
            cursor: pointer;
            border-radius: 10px;

          }

          button:hover {
            background-color: var(--c-400);

          }


        }
      }


    }
  }
}